@import "tailwindcss";

:root {
  --primary: #165dff;
  --primary-hover: #0e4bd9;
  --foreground: #080c1a;
  --secondary: #6a7686;
  --muted: #eff2f7;
  --border: #f3f4f3;
  --card-grey: #f1f3f6;
  --success: #30b22d;
  --error: #ed6b60;
  --warning: #fed71f;
  --font-sans: "Lexend Deca", sans-serif;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-card-grey: var(--card-grey);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);
  --font-sans: var(--font-sans);
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom Checkbox Styling to avoid default browser shadows/styles */
.custom-checkbox {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid var(--border);
  border-radius: 0.25em;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.custom-checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary);
  background-color: var(--primary);
  transform-origin: center;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.custom-checkbox:checked::before {
  transform: scale(1);
}
.custom-checkbox:checked {
  border-color: var(--primary);
}
